html,
body {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  background: #ffcf00;
}

#mainNavbar {
  height: 70px;
  background: #212121;
  border-bottom: 5px solid black;
}

#mainNavbar a {
  float: right;
  color: #ffcf00;
}

.col-md-10 h4 {
  line-height: 40px;
}

.project-upvotes {
  font-size: 1rem;
  background: #000;
  color: #ffcf00;
  padding: 0;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #212121;
  color: #ffcf00;
  /* height: 3rem; */
}

footer ul li {
  display: inline-block;
}

#leaderboard .leaderboard-header {
  border-bottom: 3px solid #000;
}

#leaderboard .leaderboard-entry {
  border-bottom: 1px dashed #000;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
}

.project-name {
  color: inherit;
  font-size: 1.25rem;
}

/* .project-name:hover {
  text-shadow: #000 2px 2px;
} */

.project-domain {
  /* border: 3px solid #000;
  border-radius: 5%;
  width: 50%;*/
  /* background: #ffef00; */
  padding-right: 0;
}

.project-tag {
  display: inline-block;
}

.error {
  color: #ff0000;
}

.question {
  font-weight: 700;
}

.FAQ {
  border-top: 1px dashed #000;
}
.blocks {
  margin-top: 30px;
}

#welcome {
  background-image: url("../static/welcome-img.jpg");
  height: 80vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro {
  padding-top: 50vh;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8), 0px 8px 13px rgba(0, 0, 0, 0.5),
    0px 18px 23px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  text-transform: uppercase;
}

#what-do-we-offer h4 {
  border-bottom: 3px solid #000;
}

#login-form div,
#register-form div,
#create-form div {
  padding: 5px;
}

#login-form p,
#register-form p,
#create-form p {
  display: inline-block;
}

#login-form #login-submit,
#register-form #register-submit,
#create-form #create-submit,
#submit_comment .comment-submit {
  outline: none;
  border: #212121 solid 4px;
  border-radius: 10px;
  font-size: 1rem;
  background: #ffcf00;
}

/* Not working */
#login-form .login-input,
#register-form .register-input,
#create-form .create-input,
#submit_comment .comment-input {
  padding-left: 10px;
  outline: none;
  border: none;
  border: 3px solid black;
  border-radius: 10px;
}

#user_profile img {
  max-width: 200px;
  border: 5px solid #000;
  border-radius: 50%;
}

#user_profile ul {
  border: #000 3px solid;
  padding-left: 0;
  padding: 5px;
  border-radius: 15px;
  font-weight: 500;
}

#user_profile li {
  list-style: none;
  padding-left: 20px;
  border-radius: 15px;
}

#user_profile li:nth-child(n) {
  background: #ffff00;
}

#user_profile li:nth-child(2n) {
  background: #ffdd00;
}

#login .no-auth a {
  outline: none;
  border: #212121 solid 4px;
  border-radius: 10px;
  font-size: 1rem;
  background: #ffcf00;
}

.tag {
  border-radius: 6px;
  padding: 3px;
  background-color: rgb(43, 255, 0);
}
