body {
  font-size: 16px;
  box-sizing: border-box;
  background: #ffcf00;
}

#mainNavbar {
  height: 70px;
  background: #212121;
  border-bottom: 5px solid black;
}

#mainNavbar a {
  float: right;
  color: #ffcf00;
}

.col-md-10 h4 {
  line-height: 40px;
}

.project-upvotes {
  font-size: 1rem;
  background: #000;
  color: #ffcf00;
  padding: 0;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #212121;
  color: #ffcf00;
  /* height: 3rem; */
}

footer ul li {
  display: inline-block;
}

#leaderboard .leaderboard-header {
  border-bottom: 3px solid #000;
}

#leaderboard .leaderboard-entry {
  border-bottom: 1px dashed #000;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
}

.project-name {
  color: inherit;
  font-size: 1.25rem;
}

/* .project-name:hover {
  text-shadow: #000 2px 2px;
} */

.project-domain {
  /* border: 3px solid #000;
  border-radius: 5%;
  width: 50%;*/
  /* background: #ffef00; */
  padding-right: 0;
}

.project-tag {
  display: inline-block;
}

.error {
  color: #FF0000;
}

.question {
  font-weight: 700;
}

.FAQ
{
  border-top: 1px dashed #000;
}
.blocks
{
  margin-top: 30px;
}