<!-- One comment-->
<div class="container py-2" id="comments_section">
  <div id="submit_comment">
    {{ comment_form.text(size=32, placeholder=" Enter your comment", class="comment-input") }}
    {{ comment_form.submit(class="comment-submit ") }}
    <!-- error messages -->
    {% for error in comment_form.text.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
  </div>

  <div id="comments" class="row justify-content-center">
    <div class="col">
      {% for comment in comments %}
      <div class="row py-1 text-left">
        <div class="col-sm-2">
          <img src="{{ comment.author.avatar(40) }}" />
        </div>
        <div class="col-sm-2">
          <h3>{{ comment.author.username }}</h3>
        </div>
        <div class="col-sm-8">
          {{ comment.text }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
