<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% if title %}
    <title>{{ title }} - College Venturers</title>
    {% else %}
    <title>College Venturers</title>
    {% endif %}
    <meta name="description" content="Discovering hidden entrepreneurship talent in Indian colleges" />
    <meta name="keywords" content="entrepreneurship,startup,college,engineering,final year project,ventures" />
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/base.css" />
  </head>

<body>
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg" id="mainNavbar">
      <a class="navbar-brand" href="/">College Venturer</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="/leaderboard">Leaderboard</a>
          {% if user %}
          <a class="nav-item nav-link" href="#">{{ user.username }}</a>
          {% else %}
          <a class="nav-item nav-link" href="#">Log in</a>
          {% endif %}
        </div>
    </nav>
    <!-- Navbar Section End -->
    <div id="page-container">
      <!-- Content Start -->
      {% block content %}{% endblock %}
      <!-- Content End -->

    <!-- Footer Section-->
    <footer class="page-footer font-small " id="footer-text">
        <!-- Copyright -->
        <div class="footer-copyright text-center pt-3">
            <ul class="row justify-content-around px-0 mx-0">
              <div class="col-md-2">© 2019 College Venturers</div>
              <div class="col-md-2">About us</div>
              <div class="col-md-2">Twitter</div>
              <div class="col-md-2"><a href=" ">FAQ</a></div>
              <div class="col-md-2">Terms</div>   
            </ul>
        </div>
        <!-- Copyright -->
    </footer>
  </div>
</body>

</html>
