{% extends "base.html" %} {% block content %}
<div class="container" id="create">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center pt-3">Create a project</h2>
      <div class="row"></div>
      <form action="" method="post" novalidate id="create-form">
        {{ form.hidden_tag() }}
        <!-- Name row -->
        <div class="row">
          <!-- Project Name -->
          <div class="col-md-6">
            {{ form.name(size=32, placeholder=" Projectname", class="create-input")
            }}<br />
            <!--error messages-->
            {% for error in form.name.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>
          <!-- Summary -->
          <div class="col-md-6">
            {{ form.summary(size=32, placeholder=" Project Summary", class="create-input")

            }}<br />
            <!--error messages-->
            {% for error in form.summary.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>
        </div>
        <!-- Website & Future Scope Row-->
        <div class="row">
          <!-- Website -->
          <div class="col-md-6">
            {{ form.website(size=32, placeholder=" Website",class="create-input")
            }}
            {% for error in form.website.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>
        <!-- Description & Short Term Goal Row -->
        <div class="row">
          <!-- Description -->
          <div class="col-md-6">
            {{ form.description(size=32, placeholder=" Project Description", class="create-input")

            }}<br />
            <!--error messages-->
            {% for error in form.description.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>
          <!-- Short Term Goal -->
          <div class="col-md-6">
            {{ form.short_term_goal(size=32, placeholder=" Short Term Goal", class="create-input")
            }}<br />
            <!--error messages-->
            {% for error in form.short_term_goal.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>
        </div>
        <!-- Primary & Secondary Category Row -->
        <div class="row">
          <!-- Primary -->
          <div class="col-md-6">
            {{ form.category_primary(size=32, placeholder=" Primary Category", class="create-input")

            }}<br />
            <!--error messages-->
            {% for error in form.category_primary.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>
          <!-- Secondary -->
          <div class="col-md-6">
            {{ form.category_secondary(size=32, placeholder=" Secondary Category", class="create-input")
            }}<br />
            <!--error messages-->
            {% for error in form.category_secondary.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
          </div>
        </div>
        <!-- Button -->
        <div class="row justify-content-around">
          <span>{{ form.submit(id="create-submit") }}</span>
        </div>
      </form>
      <hr />
      <div class="row justify-content-around" class="no-auth">
        <p style="display: inline">Already have an account yet?</p>
        <a href="/login">Log in</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
