{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="blocks">
    <h1>College Venturers</h1>
    <h5>Gamification and Discovery to boost college projects!</h5>
    <p>College projects are an untapped resource! Do you have a startup/business idea? Are you a student working on something that could be a startup someday? Submit it on College Venturers and get discovered!
    </p>
    </div>
    <div class="FAQ blocks">
        <p class="question">Why submit your project on College Venturers?</p>
        <p>
        <ul>
            <li> Know how many people find your project useful</li>
            <li> Get motivation to work on your project weekly</li>
            <li> Get noticed by mentors, investors, job recruiters, startups, colleges and potential team mates.</li>
            <li> Get critical real-time feedback on your work.</li>
            <li> Discover resources that could aid in your project.</li>
        </ul>      
            <span class="question">tl;dr </span>If you're already working on something, there is absolutely no reason to not use College Venturers!
        </p>
    </div>

    <div class="FAQ blocks">
        <p class="question">What sort of projects does College Venturers accept?</p>
        <p>We accept all sorts of projects undertaken by Indian college students! Stuff like:</p>
            <ul>
                <li> Final year projects of engineering college students</li>
                <li> Side projects you're working on while in college</li>
                <li> Startup ideas you have and want to work on</li>
            </ul>
    </div>
    <div class="FAQ blocks">
        <p class="question">How does College Venturers work?</p>
        <ul>
            <li> Make/Edit your profile - tell us about you, your bio, your interests and dreams. </li>
            <li> Tell us about your project - a description, your team mates (if any), the main category, other tags, a project URL (if any) and what you think your project could become (e.g. a company, research, an NGO etc.)</li>
            <li> Vote and give useful feedback on other projects (and receive feedback on your own).</li>
            <li> Submit updates on your project every weekend - what you've accomplished during the week, whether you did what you planned to and what you plan to do the next week.</li>
        </ul>
    </div>
    <div class="FAQ blocks">   
        <p class="question">Are you looking out for talent in Indian colleges?</p>
            <p> College Ventures is like a Product Hunt for school and college projects! Find cool people, ideas and tech in Indian colleges today!
        </p>
    </div> 
</div>
{% endblock %}