{% extends "base.html" %} {% block content %}
<div class="container" id="leaderboard">
  <!-- Header Section -->
  <div class="row justify-content-center">
    <div class="col-md-6 text-center py-3"><h2>Leaderboard</h2></div>
  </div>
  <!-- Header Section End -->
  <!-- Table Header -->
  <div class="row justify-content-around py-2 leaderboard-header">
    <div class="col-1">
      <h4>Rank</h4>
    </div>
    <div class="col-6">
      <h4>Project</h4>
    </div>
    <div class="col-3">
      <h4>Domain</h4>
    </div>
    <div class="col-2"><h4>Upvotes</h4></div>
  </div>
  <!-- Table Header End -->
  <!-- Leaderboard Entries -->
  {% for project in projects %}
  <div class="row justify-content-around py-2 leaderboard-entry">
    <div class="col-1">
      <h4 class="project-rank">{{ project.rank }}</h4>
    </div>
    <div class="col-6">
      <a href="{{ project.link }}" class="project-name">{{ project.name }}</a>
    </div>
    <div class="col-3">
      <h6 class="project-domain">#{{ project.domain }}</h6>
      {% for tag in project.tag %}
      <h6 class="project-tag">#{{ tag }}</h6>
      {% endfor %}
    </div>
    <div class="col-2">
      {% if project.upvotes < 10000 %}
      <h4 class="project-upvotes text-center">{{ project.upvotes }}</h4>

      {% endif %} {% if project.upvotes > 10000 %}
      <h4 class="project-upvotes text-center">
        {{(project.upvotes / 1000) | round(1) }}K
      </h4>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <div class="row justify-content-center pt-3">
    <div class="col-md-3 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
      veniam? Aut distinctio odit commodi, esse eos voluptates maiores nulla ut
      facere voluptatem reprehenderit iusto odio rerum aliquam maxime
      voluptatibus est animi consequatur dicta. Quas fugit recusandae,
      dignissimos ex quo libero ipsam odio voluptatem consequatur distinctio
      dolor, laborum quia vero ea porro quidem explicabo repellat quasi. Eius
      accusamus facilis ipsa aperiam error nostrum tempore blanditiis iusto amet
      asperiores, molestiae quas eos vel ex, id dolorem, reiciendis in incidunt
      eligendi sequi. Consequuntur nemo rem dicta repellendus similique cum
      eligendi quidem magnam omnis nostrum a recusandae maxime nobis, dolor
      ducimus dolore. Ipsum a natus aspernatur at eius quaerat atque excepturi
      laudantium autem, dolorem incidunt culpa distinctio enim dolore, rem
      cupiditate sapiente quos ab illum voluptatum quas?
    </div>
  </div>
  <!-- Leaderboard Entries End -->
</div>
{% endblock %}
