{% extends "base.html" %} {% block content %}
<br>
<div class="container" id="project">
  <div id="project_profile">
    <!--project.id-->
    <!--project.name-->
    <!--project.rank()-->
    <!--project.summary-->
    <!--project.description-->
    <!--project.future_scope-->
    <!--project.short_term_goal-->
    <!--project.category_primary-->
    <!--project.category_secondary-->
    <!--project.category_tertiary-->
    <h3>{{ project.name }}</h3>
    <div class="row">
      <div class="col-md-9">
        <p>
          <span class="tag span">{{ project.category_primary }}</span> Other
          tags: <span class="tag">{{ project.category_secondary }}</span
          >, <span class="tag">{{ project.category_tertiary }}</span>
        </p>
        <h5>Summary</h5>
        <p>{{ project.summary }}</p>
        <h5>Description</h5>
        {{ project.description }}
      </div>
      <div class="col-md-1"><button class="upvote" type="submit">Upvote</button></div>
      <div class="col-md-2">
        <p class="rank">Ranked #{{ project.rank }}</p>
        <p>Check the project: <a href="{{ project.website }}">{{ project.website }}</a></p>
        <p>This project could be {{ project.future_scope }} someday.</p>
      </div>
    </div>
    <br>
    <h5>Weekly updates</h5>
    <h6>Week 3 updates</h6>
    <p>Launched the app on Product Hunt. Was voted as Product #4 for the day. Got really good stats too!</p>
    <h6>Week 2 updates</h6>
    <p>Implemented a send to WhatsApp feature based on popular demand and feedback</p>
    <h6>Week 1 updates</h6>
    <p>Built an MVP of the app with ReactJS.</p>
    
  </div>
  <div id="comments">
    <!--comments go here: to be implemented-->
  </div>

<br>
<div id="comments">
    <h4>Comments</h4>
  {%include '_comment.html'%}
</div>
</div>
{% endblock %}
