{% extends "base.html" %}

{% block content %}
<div class="container" id="user_profile">
    <!--user.id-->
    <!--user.avatar(size)-->
    <!--user.username-->
    <!--user.email-->
    <!--user.password_hash-->
    <!--user.first_name-->
    <!--user.last_name-->
    <!--user.college-->
    <!--user.website-->
    <!--user.about_me-->
    <!--user.social_github-->
    <!--user.social_linked-->
    <!--user.social_twitter-->
    <!--user.comments-->
    <!--user.upvotes-->
    <!--user.projects-->
</div>
{% endblock %}