{% extends "base.html" %} {% block content %}
<div>
  
    <p>Do you have a startup/business idea? Are you a student working on something that could be a startup someday? Submit it on College Venturers and get discovered!
    </p>
    <p>Why submit your project on College Venturers?</p>
    <ul>
        <li> Know how many people find your project useful</li>
        <li> Get motivation to work on your project weekly</li>
        <li> Get noticed by mentors, investors, job recruiters, startups, colleges and potential team mates.</li>
        <li> Get critical real-time feedback on your work.</li>
        <li> Discover resources that could aid in your project.</li>
    </ul>      
        tl;dr If you're already working on something, there is absolutely no reason to not use College Venturers!
    </p>
        What sort of projects does College Venturers accept?
        > We accept all sorts of projects undertaken by Indian college students! Stuff like:
            > Final year projects of engineering college students
            > Side projects you're working on while in college
            > Startup ideas you have and want to work on
        
        How does College Venturers work?
            > Make/Edit your profile - tell us about you, your bio, your interests, dreams and
            > Tell us about your project - a description, your team mates (if any), the main category, other tags, a project URL (if any) and what you think your project could become (e.g. a company, research, an NGO etc.)
            > Vote and give useful feedback on other projects (and receive feedback on your own).
            > Submit updates on your project every weekend - what you've accomplished during the week, whether you did what you planned to and what you plan to do the next week.
        
        Are you looking out for talent in Indian colleges?
            > College Ventures is like a Product Hunt for school and college projects! Find cool people, ideas and tech in Indian colleges today!
        </p>
</div>
{% endblock %}