{% extends "base.html" %} {% block content %}
<!-- Start of intro -->
<div class="container-fluid" id="welcome">
  <div class="row justity-content-center align-items-center">
    <div class="col">
      <p class="text-center font-weight-bold" id="intro">
        It's your time in the light.
      </p>
    </div>
  </div>
</div>
<!-- End of intro -->
<div class="container" id="what-do-we-offer">
  <div class="row pt-3 pb-4">
    <h4>WHAT WE OFFER</h4>
  </div>
  <div class="row justity-content-around">
    <!-- Connect with mentors -->
    <div class="col-md-4 text-center mb-2">
      <i class="fas fa-chalkboard-teacher fa-4x"></i>
      <h5 class="py-1">Connect with mentors</h5>
      <p>
        Highest ranking projects every month get connected with mentors. Mentors
        can also reach out to projects they find interesting or leave comments 
        on projects they find.
      </p>
    </div>
    <!-- Attract Investors/Recruiters -->
    <div class="col-md-4 text-center mb-2">
      <i class="fas fa-rupee-sign fa-4x"></i>
      <h5 class="py-1">
        Attract Investors/Recruiters
      </h5>
      <p>
        Your College Venturers profile and projects also act as a literal CV!
        Grab the attention of angel investors, VCs and job recruiters or other
        startups.
      </p>
    </div>
    <!-- Real-time feedback -->
    <div class="col-md-4 text-center mb-2">
      <i class="fas fa-comments fa-4x"></i>
      <h5 class="py-1">Real-time feedback</h5>
      <p>
        Trust us, feedback is very, very important when you're building
        something! Submitting to College Venturers will get you
        feedback throughout your development process like nothing else!
      </p>
    </div>
  </div>
</div>
{% endblock %}
